*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Arial', sans-serif;
  background-color: rgb(0,0,0);
  color: #333;
  line-height: 1.6;
  color: white;
  padding-top: 7vh;
}

/* ─────────────── NAVBAR (REPLACE THIS ONE) ─────────────── */
nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7vh;
 background-color: rgb(71, 70, 70);
 
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(21, 21, 21, 0.15);
  z-index: 99;
}


nav ul{
  display: flex;
  gap: 30px;
  list-style: none;
}


nav ul li a{
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 8px 18px;
  border-radius: 8px;
 
}


nav ul li a:hover{
  background: rgb(255,174,0);
  color: #000;

 
}


#home{
  scroll-margin-top: 10vh;
}


.banner{
    width: 90%;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8vw;
    color: white;
    margin-bottom: 20px;
}


.left h1{
    font-size: 6vw;
    font-weight: 800;
    line-height: 1.1;
}


.linkedin{
    font-size: 2.5vw;
    font-weight: 700;
    background-color: white;
    color: #0077b5;
    width: 70px;
    height: 70px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}


.right img{
    width: 280px;
    height: 280px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid rgba(86, 84, 84, 0.6);
}


.box{
width: 20vw;
height: 30vh;
 min-width: 250px;
}

.box1{
width: 100%;
height: 80%;
background-image: url(./image/burgerKingClone.png);
background-size: cover;
background-position: center;
border: 2px solid rgb(147, 144, 144);

}

.fullLink{
  text-decoration: none;
  color: white;
  display: flex;            
  flex-direction: column;   
  height: 100%;             
}

.fullLink:hover h3{
  text-decoration: underline;
  color: orange;
}


.box2{
width: 100%;
height: 80%;
background-image: url(./image/netflix.png);
background-size: cover;
background-position: center;
border: 2px solid rgb(147, 144, 144);
}

.boxContainer{
display: flex;
gap: 2vw;
justify-content: center;
flex-wrap: wrap;
margin-top: 20px;
}
